.noorBar{
    background-color: black;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
}

.title{
    color: white;
    font-family: Montserrat;
    text-transform: uppercase;
    text-align: center;
    
    width: 100%;
    height: 100%;
    position: relative;
    
    padding-top: 10px;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 3px;
    font-size: 1.2em;
}


.menu{
    text-align: right;
    font-size: 1em;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    float: left;
}


ul {
    list-style-type: none;
    margin: 0;
    font-size: .6em;
    color: white;
    text-align: right;
}


li {
    padding: 10px;
    display: inline;
    float: left;
}


.of{
    font-family: 'Italianno', cursive;
    font-size: 1em;
    text-transform: lowercase;
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.masonry-brick { 
    width: 24%; 
    margin: 0.1em;
    // float: left;
    display: inline;
}

.masonry-brick img { 
    width:100%; 
}

.masonry-brick.loaded{
    display: block;
}

.container{
    //background-color: gray;
    padding: 0 0;
}


.imgClass{
    width: 60%;
    display: block;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 700px;
}

// .brick.rollover {
//     display: block;
//     width: 150px;
//     height: 44px;
//     text-decoration: none;
//     background: url("icon2.jpg");
//     }


// a{
//     position: relative;
//     display: inline-block;
// }

// a:hover:before{     
// // opacity: 0.3; 
// // filter: alpha(opacity=30); 
// // display: block;
// // width: 80px;
// // height: 80px;
// // position: absolute;
// // top: 0;
// // right: 0;

//     font-family: Montserrat;
//     font-size: 1em;
//     //color: #0099ff;
//     color: black;
//     content: 'O';
//     display: block;
//     width: 0px;
//     height: 0px;
//     position: absolute;
//     top: 0;
//     right: 15px;

// } 


// .displace {
//     position: absolute;
//     left: -5000px;
// }

.notFavorite{
    font-family: Montserrat;
    font-size: 1.5em;
    color: #cccccc;
}

.notFavorite:hover{
    color: #0099ff;
}

.favorite{
    font-family: Montserrat;
    font-size: 1.5em;
    color: #0099ff;
}

.product{
    font-family: Lato;
    font-size: 1.0em;
}


