.inputBox{
	width: 60%;
	margin: 0 auto;
}

.input{
	margin: 20px 0;	
}

.labelStyle{
	font-family: 'Lato';
	font-size: .8em;
}

.inline{
	width: 50%;
	float: left;
	padding: 10px 0;
}

.input-group{
	width: 50%;
	padding: 10px 0;
}

.textBox{
	width: 100%;
}

.uploadPic{
	margin: 10px 0;
}

.submit{
	margin: 0 auto;
}


